:root {
    --white-1: #ffffff;

    --blue-1: #6B93B0;
    --blue-2: #3C6170;
    --blue-3: #101E29;

    --grey-1: #C8C8C8;
    --grey-2: #a6a5a5;
    --grey-3: #7e7e7e;
    --grey-4: #646464;
    --grey-5: #B2B2B2;

    --orange-1: #fdd2a9;

    --black-1: #000000;
}